* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

h1 {
  text-align: center;
  color: #58a5bf;
  font-weight: 900;
}

.container {
  max-width: 700px;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #58a5bf;
  border-radius: 20px;
  background-color: #add8e6;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
  0 0 40px rgba(0, 255, 255, 0.5), 
  0 0 60px rgba(0, 255, 255, 0.3);
}

.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.container form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 3px solid #80bace;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
  0 0 40px rgba(0, 255, 255, 0.5), 
  0 0 60px rgba(0, 255, 255, 0.3);
}

.container form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #58a5bf;
  border-radius: 10px;
  background-color: #72bed7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
  0 0 40px rgba(0, 255, 255, 0.5), 
  0 0 60px rgba(0, 255, 255, 0.3);
}

.shopping-image {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border: 3px solid #80bace;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 60px rgba(0, 255, 255, 0.3);
}

.shopping-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.shopping-list {
  width: 100%;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.shopping-list li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  border: 3px solid #80bace;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
  0 0 40px rgba(0, 255, 255, 0.5), 
  0 0 60px rgba(0, 255, 255, 0.3);
}
